@import '../variaveis/variaveis';

#home_container{
    width: 100%;
    height: auto;
    margin-top: 10vh;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 4% 2%;
    background: $black-color;
}

// ----------------------------------------------------------
.main_left_container{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $white-color;
}
 
.main_img{
    width: 100%;
    height: 55%;
    border-radius: 10px;
    background-image: url('/src/assets/img2.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_left_container div:nth-child(2){
    display: flex;
    gap: 1rem;

}
.main_left_container div:nth-child(2) div:nth-child(1){
    width: 100%;
    
}

#bt_hm{
    width: auto;
    align-self:flex-end;
}
// ----------------------------------------------------------
.main_aside{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: $white-color;
    
}

.main_aside div h1{
    user-select: none;
}
.main_aside div h2{
    width: 30%;
    height: 1px;
    margin-bottom: 1.5%;
    background: $white-color;
}
.main_aside div h1:hover{
    color: $red-color;
    transition: 200ms ease-out;
    svg{
        transform: translateX(20%) translateY(-20%);
    }
}


// ----------------------------------------------------------
.vantagens{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 0 5%;
    
    background: $white-color;
}
.vantagens div:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.vantagens h2{
    align-self: center;
    width: 70%;
    height: 1px;
    background: black;
}

#cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


.card:hover{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.185);
}
