@import '../variaveis/variaveis';

header{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 10%;
    border-bottom: 2px solid #47474749;
    background: $white-color;
    color: $black-color;
    user-select: none;
}  
 
#logo img{
    width: 300px;
}

#left_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#left_header span{
    font-size: 17px;
}

#left_header span:hover{
    color: $red-color;
}

#nav-dropdown-dark-example:hover{
    color: $red-color;
}

@media screen and (max-width:600px) {
    #logo img{
        width: 200px;
    }
    #left_header span{
       display: none;
    }
}
